<div class="jumbotron">
  <h1>Whitewater Mapping</h1>
  <ul>
    <li>{{#link-to "reach" 2204}}Test Reach - 2004 (Stikum){{/link-to}}</li>
  </ul>
  <p>
    This is the result of convergent forces - my interest, the Ember.js platform, open source tools, and a
    <em>need</em> for better whitewater maps.</p>
</div>
{{outlet}}