<div id="esriReachViewPage">

  <div id="esriReachView">

    <div id="esriContainer">

      {{#if displayControls}}

        <div id="mapControls">

          {{#bs-button-group value=buttonGroupValue type="radio" onChange=(action (mut buttonGroupValue)) as |bg|}}

            <!--TODO: set active status for buttons-->
            {{#bs-button
              icon="glyphicon glyphicon-th-large"
              type="default"
              value="Basemap"
              onClick=(action "toggleBasemap")
            }}
              <span class="hidden-sm hidden-xs">Basemap</span>
            {{/bs-button}}

            {{#bs-button
              icon="glyphicon glyphicon-th-list"
              type="default"
              value="Layers"
              onClick=(action "toggleLayerlist")
            }}
              <span class="hidden-sm hidden-xs">Layers</span>
            {{/bs-button}}

          {{/bs-button-group}}

          {{#bs-button
            icon="glyphicon glyphicon-fullscreen"
            onClick=(action "mapFullscreen")
          }}
            <span class="hidden-sm hidden-xs">Fullscreen</span>
          {{/bs-button}}

        </div>

      {{/if}}

      <div id="esriView"></div>

    </div>

  </div>

</div>





{{yield}}