<h3>Description:</h3>
<p>
  GAUGE: The gauge recommendations are only accurate if flows are dropping. A flow of 1,200 rising to 2,500 and
  stable was too high for a safe trip through the Upper Upper Sitkum (Jan 16, 2016).

  The Sitkum can be divided into four sections on its way to the confluence with the South Fork Calawah: a class
  IV/V section, a class V section, a class IV section, and a class II/III section. In theory you could run all of
  these together but it would make for a long day, particularly during the short days of winter when the river is
  generally flowing.

  Upper Upper Sitkum, 2.5 miles

  This is a class IV-V with at least 3 clean 10 -15 foot vertical waterfalls, multiple slides and holes to punch.
  Although this run is not found in the Korb guidebook, it is one of the best creek runs on the Olympic Peninsula.
  While the run is short, it can be a full day on your first trip down. Once you know the lines, you can lap it.

  The run starts off with a fun flume down the right and then you arrive at the first horizon line, a beautiful
  double drop falls that is tricky to scout. You run the first drop to the right of center and then follow the main
  tongue down the left on the second smaller drop. You soon some to a second falls that can be easily scouted on the
  right. Scout carefully and choose your line or opt for the portage down the slippery rocks on the right. The next
  drop is 50/50, a fun flume that banks off the right wall into a tricky hydraulic that can be more challenging than
  it looks. The drop continues with a fun run out through a narrow mini gorge. Be on your toes in the drop just
  below 50/50 as the boil pushes to the right into a shallow cave. Next up is a great waterfall with a nice boof
  that you can run down the center. It's an easy scout on the left but a portage would be a challenge. Another fun
  slide follows and if it has been raining, waterfalls will be cascading off the bedrock wall to the left.

  After the main whitewater section, the river opens up a bit and the whitewater tapers off. Keep your eyes peeled
  for elk in this section. You will pass one potential take-out where you can see the road easily. A couple more fun
  rapids await downstream and then you reach another falls as you enter the gorge of the Upper Sitkum. If you are
  done for the day, you can take-out above the falls and it is an easy hike back up to the road. Alternatively, you
  can continue through the last couple drops to the Brandeberry Creek confluence.

  Upper Sitkum, 3.5 miles

  The run starts out at Brandeberry Creek with about 3.5 miles of intermittent class V creek action, a couple of
  which you may want to portage. Korb notes numerous undercuts, potholes and pinning opportunities in his
  description of the run, but it is a great run for experienced creek boaters and all the drops can be run if
  they're clean.

  The river starts off with some fun drops before you reach Severe Reality a challenging class V section that can be
  portaged if you want. The river opens up a bit providing some more fun rapids before you reach the entrance to a
  gorge and Claustrophobia. Within a few more drops you'll be at the Boulder Factory which is a half mile section
  that starts with The Big Ugly. The rapids taper off a bit as you pass through a scenic canyon section upstream of
  the North Fork confluence.

  Middle Sitkum, 3 miles

  An entry point to the canyon just upstream from the North Fork Sitkum confluence marks the start of the
  intermediate 6 mile run which typically includes the middle and lower sections. From here the river flows through
  class II and III rapids until you reach a canyon section lined with bedrock walls and marked by a distinct horizon
  line. This is the start of a fun class IV section through a beautiful little gorge (less than a mile). The first
  major drop is Little Pistol. The river carves its way through some fun IV- rapids, but you have plenty of time to
  get ready for the next major rapid, Cotton Candy which comes near the end of this section. Cotton Candy is class
  IV as the river drops over a 7 foot ledge into a big pool.

  Lower Sitkum, 3 miles

  After the class IV gorge, the river calms down to more class II/III action. Once you reach the bridge, the best
  rapids are over but the river continues its scenic course through the canyon. While paddlers looking for a scenic
  float without the action of the upstream reaches can put in here, the steep climb to the road makes this a very
  unappealing takeout. Most continue on downstream to Hyas Creek. Over the next 3 miles or so the river cuts through
  several class II rapids and finally one last III- rapid just beyond the confluence with the South Fork Calawah.
  Those who put-in at the bridge may want to continue on downstream on the South Fork Calawah to the confluence with
  the North Fork Calawah, but those who put-in higher will likely be ready to take advantage of the easy road access
  at the Hyas Creek confluence.

  Logistics:

  About a mile north of Forks, Forest Road 29 leaves highway 101 at mile 193.3 and heads east. During summer 2002,
  washouts on FR 29 that prevented vehicle access for nearly 4 years were repaired, but the landslide-prone slopes
  of this drainage will lead to future road failures so be sure to check current road conditions. For current
  information on roads check the Olympic National Forest web site (check rec reports for Pacific Ranger District -
  North), or call the USFS/NPS Resource Information Center in Forks 360-374-7566 or the USFS Ranger District office
  in Forks (360)374-6522.
  Several access points are available off Forest Road 29 as follows:
  The first access you will reach is the take-out for the lower run at mile 8.0. This access is at the Hyas Creek
  confluence with the South Fork Calawah. There is a short road downstream river right of the confluence just before
  you cross the Hyas Creek Bridge.
  From the take-out continue upstream to a couple different access points depending on what you're looking for. The
  first landmark is FR 2923 which splits off the left at mile 8.8. Continue on the right fork on FR 29 and at mile
  11.1 you'll see the 070 spur which heads down to the right and a bridge across the river. For those who want to
  boat only the lower class II/III section, you can scramble down the downstream river right side of the bridge
  across the Sitkum (bring rope for this one).
  The next potential access for those who want to add some class IV rapids, is reached by continuing upstream on FR
  29. You will parrallel Rainbow Creek and cross it at mile 12.1 and then the North Fork at mile 13.9. Continuing on
  there is a small pull-out at mile 14.3. A well-marked trail leads from this point down towards the right and the
  confluence of the North Fork. It's steep at the end and you may find a rope helpful for lowering the boats. An
  alternative shorter route (unmarked) is available by heading off towards the left (this is the access illustrated
  in Korb's guidebook). It too requires rope to lower the boats down. Either way don't expect the put-in to be
  particularly user friendly.
  If you're interested in also running some class V drops, stay on FR 29 to mile 17.6 and the bridge across
  Brandeberry Creek. You can see the confluence with the Sitkum from this bridge and there is access to the river on
  the downstream river right side of the confluence.
  For the Upper Upper run, continue up to mile 20 for the put-in. There are marks on the trees on river right and a
  few flags leading you to the river.
</p>