<table class="table">
  <tr>
    <td class="table-cell">Abstract:&nbsp;</td>
    <td class="table-cell">Scenic canyon with whitewater options for most ability levels during good winter rains from November to May.</td>
  </tr>
  <tr>
    <td>Difficulty:&nbsp;</td>
    <td>IV-V</td>
  </tr>
</table>