<div class="row">
  <div class="col-sm-1">
    <h3>Beta:</h3>
  </div>
  <div class="col-sm-11">
    <table class="table">
      <tbody>
      <tr>
        <td class="table-cell"><h4>Abstract:&nbsp;</h4></td>
        <td class="table-cell">
          Scenic canyon with whitewater options for most ability levels during good winter rains from November to May.
        </td>
      </tr>
      <tr>
        <td><h4>Difficulty:&nbsp;</h4></td>
        <td>IV-V</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
